In [1]:
import sklearn as sk

In [12]:
from sklearn import tree

In [5]:
# [height, weight, shoe size]

x = [[181, 80, 44], [177, 70, 43], [160, 60, 38], [154, 54, 37], [166, 65, 40],
     [190, 90, 47], [175, 64, 39],
     [177, 70, 40], [159, 55, 37], [171, 75, 42], [181, 85, 43]]
Y =  ['male', 'male', 'female', 'female', 'male', 'male', 'female', 'female',
     'female', 'male', 'male']

In [6]:
clf = tree.DecisionTreeClassifier()

In [8]:
clf = clf.fit(x, Y)

In [9]:
prediction = clf.predict([[190, 70, 43]])

In [10]:
print(prediction)

['male']

In [11]:
import pandas as pd

In [12]:
data = pd.read_csv('countries.csv')

In [14]:
us = data[data.country == 'United States']
China = data[data.country == 'China']

In [16]:
us

            country  year  population
1608  United States  1952   157553000
1609  United States  1957   171984000
1610  United States  1962   186538000
1611  United States  1967   198712000
1612  United States  1972   209896000
1613  United States  1977   220239000
1614  United States  1982   232187835
1615  United States  1987   242803533
1616  United States  1992   256894189
1617  United States  1997   272911760
1618  United States  2002   287675526
1619  United States  2007   301139947

In [1]:
import matplotlib as plt

In [3]:
print("my name is Fran")

my name is Fran

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('countries.csv')

In [9]:
cols_wanted = print(data[['country', 'population']].head())

       country  population
0  Afghanistan     8425333
1  Afghanistan     9240934
2  Afghanistan    10267083
3  Afghanistan    11537966
4  Afghanistan    13079460

In [10]:
x = data[['year', 'population']]
y = data[['country']]

In [13]:
clf = tree.DecisionTreeClassifier()

In [14]:
clf = clf.fit(x, y)

In [15]:
data.head()

       country  year  population
0  Afghanistan  1952     8425333
1  Afghanistan  1957     9240934
2  Afghanistan  1962    10267083
3  Afghanistan  1967    11537966
4  Afghanistan  1972    13079460

In [27]:
prediction = clf.predict([[1967,80000000]])

In [28]:
print(prediction)

['Mexico']